#CookielawBanner {
    /*background: #fff;*/
    padding: 20px;
    position: fixed;
    width: 384px;
    max-width: 100%;
    bottom: 10px;
    left:10px;
    font-size: 12px;
    background-color: #045a7b;
    z-index: 3;
    color:white;
}
@media (max-width: 404px) {
  #CookielawBanner {
    width: auto;
    right: 10px;
  }
}
#CookielawBanner h6{
    font-size: 12px;
    margin-bottom: 5px;
}

#CookielawBanner .pos_rel {
    position: relative;
}
#CookielawBanner a.link_more{
    text-decoration: underline;
    color:white;
    opacity: 0.8;
}
#CookielawBanner a{
    font-size: 12px;
}
#CookielawBanner a.link_more:hover{
    color:white;
    opacity: 1;
}

